@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
html{ /* sélecteur propriété valeur */
    font-size: 62.5%;  /* 1.000rem root em 10px */
    font-weight: bold;
}
body{
    font: 1.6rem "Roboto",sans-serif; /* 16px */
    margin: 0;
    color: #222;
    background-color: var(--body-color);
    letter-spacing: .1rem;
    line-height: 1.6;
    font-weight: bold;
    
}
h1,h2,h3,h4,p,ol,ul,li,figure{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: 100;
    
}
img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}
*{
	box-sizing: border-box;
}

/* theme */
/* CSS HEX */
:root{
--body-color: #fff;
--conteneur-color: #fafafa;
--shadow-color: rgba(0,0,0,0.5);
--first-color: #ff7474;
--second-color: #6dbbdf;
--third-color: #90c4c8;
--fourth-color: #ead920;
--stock-color: #0b873d;
}
header h1{
    text-align: center;
    line-height: 6.5rem;
}
header span img{
    max-width: 4%;
    transform : rotate(30deg);
    vertical-align: middle;
}
figure img{
    margin-bottom: 1.5rem;
}
section p{
    max-width: 70rem;
    line-height: 2.6rem;
    margin: .5rem auto 0;
}
main figure{
    max-width: 70rem;
    margin: 1rem auto;
}
figure h2{
    text-align: center;
}
section{
    background-color: var(--conteneur-color);
    box-shadow: 0 0 2rem var(--shadow-color);
    max-width: 70rem;
    padding: 0.5rem;
    margin: 2rem auto;
    border-radius: 1.5%;
    text-align: center;
}
section > h2{
    text-align: center;
    line-height: 4.5rem;
    padding: 2rem;
}
section .list-prod{
    display: block;
    text-align: left;
}

ul > li {
    display: inline-block;
    font-weight: bold;
    /* haut | horizontal | bas */
    padding: .5rem 6rem .5rem;
    margin: .5rem;
    border-radius: 1rem;
}
.color > .first{
    background-color: var(--first-color);
    color: #fff;

}
.color > .seconde{
    background-color: var(--second-color);
    color: #fff;
}
.color > .third{
    background-color: var(--third-color);
}
.color > .fourth{
    background-color: var(--fourth-color);
    
}
.material-symbols-outlined{
    vertical-align: middle;
}
.stock {
    color: var(--stock-color);
}
footer p{
    border: 0;
    text-align: center;
}
@media screen and (max-width: 70rem) { /* selecteur speciaux discuter avec les meta-données */
    header{
        margin-top: 0;
    }
    header h1{
        font-size: 3rem;
    }
}